<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;700;800&display=swap" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="/static/error/css/main.css" />
  </head>
  <body class="permission_denied">
    <div id="tsparticles"></div>
    <div class="denied__wrapper cursor">
      <h1>404</h1>
      <h3>Oops! Looks Like You Got Lost In <code>SPACE</code> Hmm, looks like that page doesn't exist.</h3>
      <!-- <img id="astronaut" src="images/planet.svg" /> -->
      <!-- <img id="planet" src="images/Astronaut-01.svg" /> -->
      <div id="astronaoutAnimation"></div>
      <a href="./"><button class="denied__link">Go Home</button></a>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tsparticles@1.18.11/dist/tsparticles.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lottie-web@5.7.13/build/player/lottie.min.js"></script> -->
    <script type="text/javascript" src="/static/error/js/main.js"></script>
    <!-- <script type="text/javascript" src="js/astronaout.min.js"></script> -->
  </body>
</html>